@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #55e6a5;

  --white-shade: #a2a2a2;
  --black-color: #02050a;
}
* {
  font-family: "Public Sans", sans-serif;
}
body {
  color: whitesmoke;
  background-color: #09101a;
}

.layout {
  @apply max-w-[1280px] lg:max-w-7xl mx-auto;
}

.layout-padding {
  @apply lg:px-0 px-6;
}
.component-padding {
  @apply lg:py-[60px] 3xl:py-[120px] py-[60px];
}
.hexagon {
  -webkit-clip-path: polygon(
    25% 5%,
    75% 5%,
    100% 50%,
    75% 95%,
    25% 95%,
    0% 50%
  );
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}

.animated-element {
  animation: moveUpDown 4s linear infinite;
}

.marquee {
  height: 100px;
  width: full;
  overflow: hidden;
  position: relative;
}

.marquee-inner {
  display: flex;
  width: 200%;
  margin: 0;
  padding: 0;
  position: absolute;
  animation: marquee 20s linear infinite;
}

.clients {
  flex: 0 0 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients img {
  max-height: 200px;
  max-width: 200px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
